@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand:wght@300..700&display=swap");
.bg-primary {
    background-color: #f1c16f !important;
}
.btn-primary {
    background-color: #cd9638 !important;
    border: 0;
}
body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}
a {
    color: #212529;
}
nav {
    background-color: rgb(253, 235, 202, 1);
    .navbar-nav {
        margin: auto;
        .nav-item {
            margin: 5px 10px;
            &.active {
                background-color: #ffffff;
                border-radius: 10px;
                padding: 0 10px;
                border-bottom: 2px solid #f1a703;
                font-weight: 700;
                .nav-link {
                    color: #cd9638;
                }
            }
        }
    }
}
.title {
    font-weight: 700;
}
.header {
    height: 55vh;
    min-height: 300px;
    border-bottom: 1px solid #dee2e6;

    .container {
        display: flex;
        align-items: center;
        height: 100%;

        .infos {
            width: 65%;
            .buttons {
                button {
                    background-color: #f1a703;
                    color: #545454;
                    border: 0;
                    font-weight: 600;
                    &.second {
                        background-color: #ebce8f;
                    }

                    i {
                        font-size: 20px;
                    }
                }
            }
        }

        .img-holder {
            width: 45%;
            img {
                width: 140%;
                height: auto;
                margin-left: -50%;
            }
        }
        .infos {
            .subtitle {
                font-size: 3rem;
            }
            .title {
                font-size: 5rem;
                color: #cd9638;
            }
            p {
                font-size: 3.5rem;
            }
        }
    }
}

.section {
    position: relative;
    padding: 3rem 0;
    &.skills {
        .lists {
            .list {
                display: flex;
                h6 {
                    width: 40%;
                }
                div {
                    width: 45%;
                }
            }
        }
        .skills-cloud {
            margin-top: 30px;
            div {
                display: inline-block;
                width: auto;
                border-radius: 10px;
                padding: 10px;
                background-color: rgba(246, 234, 184, 0.5);
                margin: 5px;
            }
        }
    }
    &#portfolio {
        img {
            width: 70%;
            height: auto;
        }
        .card {
            height: 100%;
        }
    }

    &#contact {
        .email {
            i {
                font-size: 25px;
                margin-right: 10px;
            }
        }
    }
}

footer {
    border-top: 1px solid #dee2e6;
    padding: 2rem 0;
    i {
        font-size: 20px;
    }
}

@media only screen and (max-width: 576px) {
    .header {
        margin-top: 100px;
        height: 40vh;
        .container {
            .infos {
                width: 95%;
                z-index: 2;
                position: absolute;
                .title {
                    font-size: 4rem;
                }
            }
            .img-holder {
                display: none;
            }
        }
    }
}

.bounce-in-top {
    animation: bounce-in-top 1.1s both;
}

@keyframes bounce-in-top {
    0% {
        transform: translateY(-500px);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        transform: translateY(-65px);
        animation-timing-function: ease-in;
    }
    72% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    81% {
        transform: translateY(-28px);
        animation-timing-function: ease-in;
    }
    90% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    95% {
        transform: translateY(-8px);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
}

.flip-vertical-left {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes flip-vertical-left {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
}
@keyframes flip-vertical-left {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
}
